# Visual Studio dosyaları
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build dosyaları
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/
*.sln.iml

# Rider
.idea/

# User-specific data (Visual Studio, Rider, vb.)
*.suo
*.userprefs

# NuGet klasörü
packages/

# User-specific Visual Studio Cache
ClientBin/
[Ss]tyle[Cc]op/

# SQL Server
[Bb]in/
obj/
*.dbmdl
*.dbproj.suo
*.[Dd]bmdl
*.[Dd]bproj
*.rdl.data
*.rdl.[rR][eE][sS]

# Visual Studio 2019 configuration folder
.vs2019/
